# IMPORTING LIBRARIES

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pickle

# GETTING DATA FROM DATASET

In [2]:
dataset= pd.read_csv("Village_infras.csv")
dataset.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center,weighted_development_score,developed
0,1,1,1,1,1,1,1,1,1,1,1,100.000000,1
1,0,0,0,1,1,1,0,0,1,1,1,52.941176,0
2,1,1,0,0,1,1,0,0,1,0,0,47.058824,0
3,1,1,1,1,1,1,1,1,1,1,1,100.000000,1
4,0,1,1,0,1,1,1,1,0,1,1,76.470588,1

# SELECTING TARGET VARIBALE

In [3]:
X= dataset.drop(columns= ["weighted_development_score", "developed"])
y= dataset["developed"]

# SPLITTING TRAINING AND TESTING DATA

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [5]:
X_test.head()

,library,primary_school,secondary_school,college,atm,supermarket,panchayat_office,post_office,hospital,bus_stop,common_service_center
988,1,1,0,0,0,1,1,0,0,0,0
6357,0,1,1,1,1,0,1,1,1,1,0
1947,1,0,1,0,1,0,0,0,0,1,0
12696,0,1,1,0,0,1,1,1,0,1,1
12694,0,0,1,1,0,1,0,0,1,0,0

# DEFINING, FITTING AND PREDICTING RANDOM FOREST MODEL

In [6]:
rf_model= RandomForestClassifier(n_estimators=50, max_depth=7, min_samples_split=10, random_state=42)

In [8]:
rf_model.fit(X_train, y_train)
rf_preds= rf_model.predict(X_test)
rf_preds

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

# EVALUATING MODEL

In [9]:
accuracy = accuracy_score(y_test, rf_preds)
precision = precision_score(y_test, rf_preds)
recall = recall_score(y_test, rf_preds)
f1 = f1_score(y_test, rf_preds)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")

Accuracy: 0.96025
Precision: 0.9905138339920949
Recall: 0.895
F1 Score: 0.9403377110694184

# SAVING THE MODEL

In [10]:
with open('rf_trained_model.pkl', 'wb') as f:
    pickle.dump(rf_model, f)

print("Trained model saved to rf_trained_model.pkl")

Trained model saved to rf_trained_model.pkl